NEXT_PUBLIC_SITE_URL=https://www.kuofeng.com.tw
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
CONTACT_EMAIL=
LINE_URL=https://lin.ee/SZxUigN
FORM_NOTIFICATION_EMAIL=
FORM_FROM_EMAIL=國豐當舖表單 <onboarding@resend.dev>
RESEND_API_KEY=
